*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 50px;
    background-color: #fffde3;
    color: #000;
    font-size: 16px;
}
h1{
    font-size: 28px;
}
h2{
    font-size: 20px;
}
.container{
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
    
}
form{
   width: 450px;
  
}
input{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}
div{
    margin-bottom: 20px;
}
#userProject{
    display: flex;
    gap: 20px;
}
#projectCard{
    width: 250px;
    height: 200px;
    text-align: center;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
}

h2, p{
    padding-bottom: 15px;
}

#deleteBtn, #submit_project{
    width: 150px;
    height: 40px;
    background-color: red;
    color: white;
    padding: 5px 10px;
    border: none;
    outline: none;
}
#submit_project{
    background-color: green;
    margin-top: 15px;
}
